:root {
    --highlight-color: rgb(109, 175, 199);
    --highlight-color-2: #f77062;
    --darker-color: #141414;
    --lightest-color: #fff;
    --lighter-color: rgb(230, 240, 241);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
} 

.navbar {
    background: var(--lightest-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.3s ease-in;
}

.navbar.scrolled {
    background: var(--darker-color);
}

.navbar.scrolled .navbar__links {
    color: var(--lightest-color);
}

.navbar.scrolled .navbar__links:hover {
    color: var(--highlight-color);
}

.navbar__container {
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
    font-weight: bold;
}

.navbar__links {
    color: var(--darker-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 16px;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links.current {
    text-decoration: underline;
}

.navbar__links:hover {
    color: var(--highlight-color);
}

.navbar__dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--lightest-color);
    z-index: 999;
    font-size: 16px;
    font-weight: normal;
}

.navbar__dropdown-content .navbar__links {
    text-align: center;
    display: table;
    padding: 12px 16px;
}

.navbar__dropdown:hover .navbar__dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .navbar__container {
        display: flex;
        height: 80px;
        z-index: 1;
        width: 100%;
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background-color: var(--lightest-color);
        top: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        font-size: 24px;
        padding: 24px 0;
    }

    .navbar.scrolled .navbar__menu.active {
        background-color: var(--darker-color);
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--darker-color);
        z-index: 999;
        display: block;
        cursor: pointer;
    }

    .navbar__toggle:hover .bar {
        background: var(--highlight-color);
    }

    .navbar.scrolled .bar {
        background: var(--lightest-color);
    }

    .navbar__item {
        height: auto;
    }

    .navbar__links {
        text-align: center;
        display: table;
        line-height: 64px;
    }

    .navbar__dropdown-content {
        width: 100%;
        left: 0;
        padding-bottom: 16px;
    }

    .navbar__dropdown-content .navbar__links {
        line-height: normal;
        display: block;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 480px) {
    .navbar__toggle .bar {
        background: var(--darker-color);
    }

    .navbar__toggle:hover .bar {
        background: var(--darker-color);
    }

    .navbar.scrolled .bar {
        background: var(--lightest-color);
    }

    .navbar.scrolled .navbar__toggle:hover .bar {
        background-color: var(--lightest-color);
    }
}

/* Hero Section CSS */
.main {
    background-color: var(--darker-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    width: 100%;
    height: auto;
}

.main__img--container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#main__img {
    height: auto;
    width: 100%;
    display: block;
}

.main__summary--container {
    padding: 5%;
    background-color: var(--lighter-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__summary {
    max-width: 600px;
}

.main__summary h1 {
    font-size: 32px;
}

.main__summary h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 24px;
}

.main__summary p {
    font-size: 16px;
    line-height: 24px;
}

.main__info--container {
    padding: 5%;
    background-color: var(--darker-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__info {
    max-width: 600px;
    color: var(--lightest-color);
}

.main__info p {
    font-size: 16px;
    margin-bottom: 8px;
}

.main__social__icons--link {
    color: var(--lightest-color);
    font-size: 24px;
    transition: 0.1s ease-in;
}

.main__social__icons--link:hover {
    color: var(--highlight-color);
}

.main__social {
    display: flex;
    column-gap: 16px;
}

.main__button__container {
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--lightest-color);
    padding: 1ch;
    border-radius: 12px;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.main__button__container:hover {
    background-color: var(--highlight-color);
}

.main__button {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--darker-color);
}

.main__social button {
    color: var(--darker-color);
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--lightest-color);
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    #main__img {
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 600px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        width: 100%;
        height: auto;
    }

    .main__img--container {
        width: 100%;
    }
    
    #main__img {
        height: 50vh;
        object-fit: cover;
    }

    .main__summary--container {
        width: 100%;
        padding: 10%;
    }

    .main__info--container {
        width: 100%;
        padding: 10%;
    }
}

/* Timeline Section */
.timeline__flex {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    background: linear-gradient(var(--darker-color), var(--darker-color)) no-repeat center/6px 100%;
    padding: 5%;
}


.timeline__text--container {
    width: 36vw;
    border: 6px solid var(--darker-color);
    padding: 24px;
    align-self: center;
    position: relative;
    /* background-color: yellow; */
    background-color: var(--lightest-color);
    z-index: 1;
}

.timeline__flex .timeline__content:nth-child(2n + 1) .timeline__text--container {
    left: calc(18vw + 55px);
}

.timeline__flex .timeline__content:nth-child(2n + 1) .timeline__img--container {
    transform: scaleX(-1);
}

.timeline__flex .timeline__content:nth-child(2n) .timeline__text--container {
    right: calc(18vw + 55px);
}

.timeline__content {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.timeline__img--container {
    position: absolute;
    align-self: center;
}

.timeline__text {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.timeline__text.appear {
    opacity: 1;
}

.timeline__text a {
    color: var(--darker-color);
}

.timeline__text a:hover {
    color: var(--highlight-color);
    transition: all 0.3s ease;
}

@media screen and (max-width: 600px) {
    .timeline__flex .timeline__content:nth-child(2n + 1) .timeline__text--container {
        left: calc(18vw + 24px);
    }
    
    .timeline__flex .timeline__content:nth-child(2n) .timeline__text--container {
        right: calc(18vw + 24px);
    }
}

@media screen and (max-width: 480px) {
    .timeline__flex {
        background: linear-gradient(var(--darker-color), var(--darker-color)) no-repeat top left 10vw/6px 100%;
        padding: 10%;
    }

    .timeline__text--container {
        margin-left: 10%;
        margin-bottom: 10%;
        width: auto;
        border: 6px solid var(--darker-color);
        padding: 24px;
        align-self: center;
        position: static;
        /* background-color: yellow; */
        background-color: var(--lightest-color);
        z-index: 1;
    }

    .timeline__img--container {
        transform: scaleX(-1);
        position: absolute;
        left: calc(10vw - 52px);
    }
}

/* Footer CSS */
.footer {
    background-color: var(--darker-color);
    height: 20vh;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

.footer p {
    color: var(--lightest-color);
    font-size: small;
}

.footer__social {
    margin-top: auto;
    display: flex;
    column-gap: 16px;
}
