:root {
    --highlight-color: rgb(109, 175, 199);
    --highlight-color-2: #f77062;
    --darker-color: #141414;
    --lightest-color: #fff;
    --lighter-color: rgb(230, 240, 241);
    --typewriter-speed: 2s;
    --fade-speed: 2s;
    --pause-time: 1s;
    --begin-time: 0.5s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
} 

.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.3s ease-in;
}

.navbar__container {
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
    font-weight: bold;
}

.navbar__links {
    color: var(--darker-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 16px;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links.current {
    text-decoration: underline;
}

.navbar__links:hover {
    color: var(--highlight-color);
}

.navbar__dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--lightest-color);
    z-index: 999;
    font-size: 16px;
    font-weight: normal;
}

.navbar__dropdown-content .navbar__links {
    text-align: center;
    display: table;
    padding: 12px 16px;
}

.navbar__dropdown:hover .navbar__dropdown-content, .navbar__dropdown:active .navbar__dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .navbar__container {
        display: flex;
        height: 80px;
        z-index: 1;
        width: 100%;
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background-color: var(--lightest-color);
        top: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        font-size: 24px;
        padding: 24px 0;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--darker-color);
        z-index: 999;
        display: block;
        cursor: pointer;
    }

    .navbar__toggle:hover .bar {
        background: var(--highlight-color);
    }

    .navbar__item {
        height: auto;
    }

    .navbar__links {
        text-align: center;
        display: table;
        line-height: 64px;
    }

    .navbar__dropdown-content {
        width: 100%;
        left: 0;
        padding-bottom: 16px;
    }

    .navbar__dropdown-content .navbar__links {
        line-height: normal;
        display: block;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 480px) {
    .navbar__toggle:hover .bar {
        background: var(--darker-color);
    }
}

/* Hero Section CSS */
.main {
    height: calc(100vh - 230px);
    background-color: var(--lightest-color);
    display: grid;
    place-content: center;
    text-align: center;
    padding: 5%;
    user-select: none;
    overflow: hidden;
    position: relative;
    background: rgb(255,251,215);
    background: radial-gradient(circle at 80% 50%, rgba(255,251,215,1) 0%, rgba(180,231,212,1) 100%);
}

.main h1 {
    font-size: max(4vw, 28px);
    font-family: 'Roboto Mono', monospace;
    position: relative;
    width: max-content;
    max-width: 100%;
}

canvas {
    box-sizing: border-box;
    border: 10px solid red;
}

#snowboarder_container {
    position: absolute;
    height: 100px;
    width: 100px;
    transform: translate(-50px, -93px);
    left: 50%;
    top: 50%;
    /*border: 1px red solid;*/
    -webkit-backface-visibility: hidden;
	-webkit-transform: scale(1);
}

.jump {
    animation: jump 1.8s linear;
}

#snowboarder {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 100%;
}

#snowboard {
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 5px;
}

@keyframes jump {
    0% {
        transform: translate(-50px, -93px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1) 
    }

    50% {
        transform: translate(-50px, -300px) rotate(-20deg);
        animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333)
    }

    100% {
        transform: translate(-50px, -93px) rotate(-10deg);
    }
}

/* Footer CSS */
.footer__container {
    position: relative;
    overflow: hidden;
}

.footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

.footer p {
    color: var(--darker-color);
    font-size: small;
}

.footer__social {
    margin-top: auto;
    display: flex;
    column-gap: 16px;
}

.main__social__icons--link {
    color: var(--darker-color);
    font-size: 24px;
    transition: 0.1s ease-in;
}

.main__social__icons--link:hover {
    color: var(--highlight-color);
}
